:root {
  --primary-color: #20609d;
  --secondary-color: #ed6911;
  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: var(--primary-color);
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
