:root {
  --primary-color: #57cbff;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green-tint: rgba(100, 255, 218, 0.1);
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  padding-bottom: 1rem;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--lightest-slate);
  letter-spacing: 0.4rem;
}

@media screen and (max-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: var(--navy);
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border-radius: 0.4rem;
}
